In [1]:
import pandas as pd

### Addresses
https://data.cityofnewyork.us/City-Government/NYC-Address-Points/g6pj-hd8k

In [2]:
addr_URL = "https://data.cityofnewyork.us/resource/emzr-v3pi.json"

In [3]:
addr = pd.read_json(addr_URL)
addr.shape

(1000, 19)

In [4]:
addr.head(2)

,the_geom,address_id,bin,h_no,hyphen_typ,side_of_st,borocode,zipcode,created,modified,st_name,physicalid,post_type,full_stree,pre_direct,hno_suffix,special_co,hn_rng,post_direc
0,"{'type': 'Point', 'coordinates': [-73.94890840...",3066687,3053232,54,N,2,3,11216,2009-02-13T00:00:00.000,2013-01-18,MACON,66261,ST,MACON ST,NaN,NaN,NaN,NaN,NaN
1,"{'type': 'Point', 'coordinates': [-73.94867469...",3064205,3051113,438,N,2,3,11216,2009-02-13T00:00:00.000,NaT,GATES,68956,AVE,GATES AVE,NaN,NaN,NaN,NaN,NaN

In [5]:
addr.borocode[0].astype("str")

'3'

In [6]:
def boroname(x):
    if x == 1:
        return "Manhattan"
    elif x == 2:
        return "Bronx"
    elif x == 3:
        return "Brooklyn"
    elif x == 4:
        return "Queens"
    elif x == 5:
        return "Staten Island"
addr["boroname"] = addr["borocode"].map(boroname)
addr.tail(2)

,the_geom,address_id,bin,h_no,hyphen_typ,side_of_st,borocode,zipcode,created,modified,st_name,physicalid,post_type,full_stree,pre_direct,hno_suffix,special_co,hn_rng,post_direc,boroname
998,"{'type': 'Point', 'coordinates': [-73.93776389...",3054067,3043360,871,N,1,3,11221,2009-02-13T00:00:00.000,NaT,LAFAYETTE,47214,AVE,LAFAYETTE AVE,NaN,NaN,NaN,NaN,NaN,Brooklyn
999,"{'type': 'Point', 'coordinates': [-73.94385609...",3089030,3068763,753,N,1,3,11211,2009-02-13T00:00:00.000,NaT,METROPOLITAN,46664,AVE,METROPOLITAN AVE,NaN,NaN,NaN,NaN,NaN,Brooklyn

In [7]:
def to_str(x):
    return x.astype("str")
addr = addr.apply(to_str)

### Violations
https://data.cityofnewyork.us/Housing-Development/Violations-Manhattan/3m58-pv6i/data

In [8]:
vio_URL = "https://data.cityofnewyork.us/resource/3m58-pv6i.json"

In [9]:
# test
url = vio_URL+"?bin=0000000&boro=1&house_number=222&street=4TH%20AVE"
pd.read_json(url)

,isn_dob_bis_viol,boro,bin,block,lot,issue_date,violation_type_code,violation_number,house_number,street,device_number,description,number,violation_category,violation_type,disposition_date,disposition_comments
0,22419,1,0,847,38,19881122,E,1179A-04,222,4TH AVE,1P4050,(51) REMOVE ALL DEADBOLT LOCKS,V112288E1179A-04,V-DOB VIOLATION - ACTIVE,E-ELEVATOR ...,NaN,NaN
1,32085,1,0,847,38,19881122,E,1179A-05,222,4TH AVE,1P23210,NaN,V112288E1179A-05,V-DOB VIOLATION - ACTIVE,E-ELEVATOR ...,NaN,NaN
2,22405,1,0,847,38,19881122,E,1179A/03,222,4TH AVE,1P4049,(51) REMOVE ALL DEADBOLT LOCKS ON HOISTWAY DO...,V112288E1179A/03,V-DOB VIOLATION - ACTIVE,E-ELEVATOR ...,NaN,NaN
3,22408,1,0,847,38,19881122,E,1179A-06,222,4TH AVE,1F3204,(51) RESTORE TO SERVICE,V*112288E1179A-06,V*-DOB VIOLATION - Resolved,E-ELEVATOR ...,19890208.0,266-81

In [ ]:
# vio = pd.DataFrame()
# for i in range(len(addr)):
#     url = vio_URL+"?bin="+addr["bin"][i]+"&boro="+addr["borocode"][i]+"&house_number="+addr["h_no"][i]+"&street="+addr["full_stree"][i]
#     url = url.replace(" ", "%20")
#     vio = pd.read_json(url) 
#     if vio.shape[0]!=0:
#         print(vio.shape)

In [9]:
vio = pd.read_json(vio_URL)
vio.shape

(1000, 17)

In [10]:
vio.head(2)

,isn_dob_bis_viol,boro,bin,block,lot,issue_date,violation_type_code,violation_number,house_number,street,device_number,description,number,violation_category,violation_type,disposition_date,disposition_comments
0,22419,1,0,847.0,38.0,19881122,E,1179A-04,222,4TH AVE,1P4050,(51) REMOVE ALL DEADBOLT LOCKS,V112288E1179A-04,V-DOB VIOLATION - ACTIVE,E-ELEVATOR ...,NaN,NaN
1,32085,1,0,847.0,38.0,19881122,E,1179A-05,222,4TH AVE,1P23210,NaN,V112288E1179A-05,V-DOB VIOLATION - ACTIVE,E-ELEVATOR ...,NaN,NaN

### AWS S3

In [18]:
import boto3

In [19]:
sess = boto3.Session(region_name="us-east-1")

In [20]:
client = sess.client('s3', 
                     aws_access_key_id='',
                     aws_secret_access_key='')

In [21]:
bucket_name = 'nycviolations'
# s3_location = {
#     'LocationConstraint':'us-east-1' 
# }
client.create_bucket(Bucket=bucket_name) #, CreateBucketConfiguration=s3_location

{'ResponseMetadata': {'RequestId': 'YTQGM31AW2HN4TB4',
  'HostId': 'usroe0kgN7gMlO2GJVmJn7FXwbzsDrzlaqWRXBzJERTdNeeW7BVcD3+b1I74+TPOb3e/2BwGX5dH/NomplazopcOoukyr/r9nlBNpt0HVxA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'usroe0kgN7gMlO2GJVmJn7FXwbzsDrzlaqWRXBzJERTdNeeW7BVcD3+b1I74+TPOb3e/2BwGX5dH/NomplazopcOoukyr/r9nlBNpt0HVxA=',
   'x-amz-request-id': 'YTQGM31AW2HN4TB4',
   'date': 'Thu, 18 Jan 2024 06:01:20 GMT',
   'location': '/nycviolations',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'Location': '/nycviolations'}

In [26]:
obj_name = "dobviolations.csv"
vio.to_csv(obj_name, index=False)

In [27]:
client.upload_file(obj_name, bucket_name, obj_name)

### NYC violations extracted using API and loaded to new S3 bucket